body {
            background-color: #000;
            margin: 0;
            overflow: hidden;
            background-repeat: no-repeat;
        }
        h1 {
            font-size: 40px;
           
            animation: blink 1s step-start infinite;
            text-align: center;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @keyframes blink {
            50% { opacity: 0; }
        }

        #canvas {
            width: 100%; /* Ширина занимает 100% доступной ширины экрана */
            height: auto; /* Высота автоматически рассчитывается, чтобы сохранить пропорции */
            max-width: 100%; /* Максимальная ширина равна ширине экрана */
            max-height: 100vh; /* Максимальная высота ограничена высотой экрана */
        }

        /* Медиазапрос для устройств с шириной экрана до 768px */
@media (max-width: 768px) {
    h1 {
        font-size: 30px; /* Уменьшаем размер шрифта для планшетов и больших смартфонов */
    }
}

/* Медиазапрос для устройств с шириной экрана до 480px */
@media (max-width: 480px) {
    h1 {
        font-size: 25px; /* Уменьшаем размер шрифта для небольших смартфонов */
        top: 25%; /* Увеличиваем отступ сверху для лучшего отображения */
    }
}